
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
.wrapper {
  font-family: 'Satoshi-Medium', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--colors-background-basic);
  width: 100lvw;
  overflow-x: clip;
}

button.ctaBtn {
  cursor: pointer;
  font-family: 'Satoshi-Medium', sans-serif;
}

.menuLink {
  text-decoration: none;
  color: var(--colors-text-basic);
}

.menuLink:hover {
  color: var(--colors-text-sous-texte-2);
}

.menuLink.active {
  color: var(--colors-text-sous-texte-2);
}

/* --------------- Nav Bar --------------- */

.topNav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 160px;
}

.navigationBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(2vw, 20px);
}

.navigationBox__menuBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8vw;
  width: 200px;
}

.navigationBox__menuBox:nth-child(1) {
  justify-content: flex-end;
}


.navigationBox__menuBox__logoBox {
  height: calc(50px + 2vw);
  max-height: 100px;
}

.navigationBox__menuBox__logoBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* --------------- Footer --------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: var(--colors-background-low);
  border-top: 1px solid var(--colors-stroke);
  padding-inline: max(8vw, 40px);
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footerContainer__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mousquetairesLogo {
  height: max(2vw, 10px);
  max-height: 30px;
}

.paris2024Logo {
  height: max(5vw, 50px);
  max-height: 100px;

}

.footerContainer__logoBox {
  display: flex;
  align-items: center;
  gap: max(2vw, 30px);
}

@media (max-width: 450px) {
  
  .footerContainer__logoBox {
    flex-direction: column;
  }
  
}

